# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Models and Large Data
models/
data/
*.pt
*.bin
*.h5
*.joblib
*.pkl

# Logs and Metrics
results/
logs/
*.log

# Environments
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
